{% extends "layout/defaultBeerShop.twig" %}

{% block content %}
<h1 class="titreduhaut">{% block title %}{{ title }}{% endblock %}</h1>
<section id="boutiques">
	{% for value in articles %}
		<article class="bieres">
			<h2>{{ value.title }}</h2>
			<div><img src="{{ value.img }}" alt="{{ value.title }}" /></div>
			<p>{{ value.content }}</p>
			<p class="price">{{ value.price|number_format(2, ',', '.') }} € (HT)</p>
			<p class="price">{{ ((value.price)*(tva|raw))|number_format(2, ',', '.') }} € (TTC)</p>
		</article>
	{% endfor %}
</section>
{{ paginate | raw }}
{% endblock %}