{% extends 'layout/default_beer.twig' %}

{% block body %}
<section id='profile_section' class="container mt-5">
    <h1>{{ page }}</h1>
    <article class="row">
        <form method="POST" action="/user/updateUser" class="col-12 col-sm">
            <h2>Mes informations personnelles</h1>
            <div>
                <label>Adresse mail</label>
                <input class="form-control" disabled type="email" value="{{ session.user.mail }}" placeholder="Votre courriel">
            </div>
            <div>
                <label>Nom</label>
                <input class="form-control" type="text" name="lastname" value="{{ userInfo.lastname }}" placeholder="Votre nom">
            </div>
            <div>
                <label>Prénom</label>
                <input class="form-control" type="text" name="firstname" value="{{ userInfo.firstname }}" placeholder="Votre prénom">
            </div>
            <div>
                <label>Adresse</label>
                <input class="form-control" type="text" name="address" value="{{ userInfo.address }}" placeholder="Votre adresse">
            </div>
            <div>
                <label>Code Postale</label>
                <input class="form-control" type="text" name="zipCode" value="{{ userInfo.zipCode }}" placeholder="Votre code postal">
            </div>
            <div>
                <label>Ville</label>
                <input class="form-control" type="text" name="city" value="{{ userInfo.city}}" placeholder="Votre ville">
            </div>
            <div>
                <label>Pays</label>
                <input class="form-control" type="text" name="country" value="{{ userInfo.country}}" placeholder="Votre pays">
            </div>
            <div>
                <label>Téléphone</label>
                <input class="form-control" type="tel" name="phone" value="{{ userInfo.phone }}" placeholder="Votre numéro de téléphone">
            </div>
            <input class="form-control" type="hidden" name="id" value="{{ session.user.id }}" />   
            <button type="submit" class="btn btn-primary mt-2 mb-5">Modifier</button>
        </form>
        <form method="POST" action="/user/changePassword" class="col-12 col-sm">
            <h2>Changer mon mot de passe </h2>
            {% if message %}
                <div class="alert alert-info"><p>{{ message }}</p></div>
            {% endif %}
            <div>
                <label>Mot de passe actuel</label>
                <input class="form-control" type="password" name="old_password" placeholder="Mot de passe actuel">
            </div>
            <div>
                <label>Nouveau mot de passe</label>
                <input class="form-control" type="password" name="password" placeholder="Nouveau mot de passe">
            </div>
            <div>
                <label>Répéter nouveau mot de passe</label>
                <input class="form-control" type="password" name="veriftyPassword" placeholder="Répéter nouveau mot de passe">
            </div>
            <input class="form-control" type="hidden" name="id" value="{{ session.user.id }}" />   
            <button type="submit" class="btn btn-primary mt-2 mb-5">Modifier</button>
        </form>
    </article>
    {% if totalOrder %}
        <article class="row">
            <div class="col-12 col-sm">
                <h2>Mes commandes </h2>
                {% for order in orders %}
                    <div>
                        <a href="/user/profile/detail-{{ order.token }}-{{ order.id }}">commande n°{{ order.id }} - total : {{ ((order.priceHT) * (order.ordersTva))| number_format(2, ',', '.') }}€ (TTC) - réalisée le {{ (order.created_at) | date('d/m/Y h:i') }}</a><br />
                    </div>
                {% endfor %}
            </div>
        </article>
    {% endif %}
</section>
{% endblock %}